*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}

body{
    background-color: lightblue;
}

header{
    background-color: aquamarine;
    padding: 15px;
}

.vertical{
    vertical-align: middle;
}

header > h1{
    display: inline-block;
    font-size: 40px;
}

nav{
    background-color: aquamarine;
    width: 80%;
    border-radius: 5px 5px 0 0;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 3px;
    padding: 10px 55px;
}

.nav_button{
    padding: 6px 13px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-right: 5px;
}

main{
    background-color: aquamarine;
    width: 80%;
    border-radius: 0 0 5px 5px;
    margin: auto;
    padding: 15px 55px;
}

section{
    margin: 30px 0;
}

section > ul{
    font-size: larger;
    list-style-type: none;
}

ul::before{
    font-size: small;
    content: "▼ ";
}

ul > li{
    font-size: medium;
    font-weight: 400;
    line-height: 2em;
}

